<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77628161681-pqd97pn640lia49st6rr8tectes1ku0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77628161681-pqd97pn640lia49st6rr8tectes1ku0i</string>
	<key>API_KEY</key>
	<string>AIzaSyDaBQltRlPivooclRTZtBMaaSQGG0oYsxA</string>
	<key>GCM_SENDER_ID</key>
	<string>77628161681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>saveshare-da7fb</string>
	<key>STORAGE_BUCKET</key>
	<string>saveshare-da7fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77628161681:ios:0aedd71f372079d5890930</string>
	<key>DATABASE_URL</key>
	<string>https://saveshare-da7fb.firebaseio.com</string>
</dict>
</plist>